<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="component-login">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Login [[prop1]]!</h2>
    <div>
        <label>Usuario</label>
        <input type="text" name="usuario" value="{{uss::input}}"/>
    </div>
    <div>
        <label>Contraseña</label>
        <input type="password" value="{{contrasena::input}}" name="contraseña" />
    </div>
    <div>
        <button name="favorito" type="button" on-click="validar">Entrar</button>
    </div>
    
  </template>
  


  <script>
    /**
     * `component-login`
     * component-login
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ComponentLogin extends Polymer.Element {
      static get is() { return 'component-login'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'component-login'
          },
          //recibir valores de las cajas de texto
          uss: {
            type: String,
            value: ''
          },
          contrasena: {
            type: String,
            value: ''
          },
          prop4: {
            type: Boolean,
            value: false,
            notify: true
          }
        };
      }

    validar(puss, contrasena){
      if(this.uss=="esly" && this.contrasena=="12345"){
        //cambiar valor a prop4
        this.set('prop4', true);
        //pintar en consola el valor que recibe
        console.log(this.prop4);
      }else{
        alert('Usuario y/o contraseña incorectos');
      }
    }
  }
    

    window.customElements.define(ComponentLogin.is, ComponentLogin);
  </script>
</dom-module>
